.mpdp-button {
  display: inline-block;
  font-size: 17px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black; 
  border-radius: 5px; 
  box-shadow: none !important;
}

.mpdp-button:hover {
  border: 1px solid #4F5A5F;
  outline: 1px solid #4F5A5F;
}

.mpdp-button:focus, .mpdp-button:active {
  border: 3px solid #4F5A5F !important;
  outline: 3px solid #ffdd00;
  margin: 3px;
  background-color: #F1F0EF !important;
  top: 0 !important;
}
