@use "govuk-frontend" as *;

.details-summary {
  margin: 5px 15px 5px 15px;
  display: grid; 
  grid-template-columns: 1fr 25fr 1fr; 
  column-gap: 5px
}

.details-summary:hover :first-child {
  color: govuk-colour("dark-blue");
  cursor: pointer;
}

.details-summary::-webkit-details-marker {
  display: none
}

.details-summary:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 12px solid govuk-colour("blue");
  border-bottom: 7px solid transparent;
  margin-top: 7px;
}

@media screen and (max-width: 640px) {
  .details-summary:before {
    margin-top: 4px;
  }
}

details[open] .details-summary:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid govuk-colour("blue");
  margin-top: 6px;
}

.details-summary:hover::before {
  border-left: 12px solid govuk-colour("dark-blue");
  cursor: pointer;
}

details[open] .details-summary:hover::before {
  border-top: 12px solid govuk-colour("dark-blue");
  cursor: pointer;
}
