{% extends "govuk/template.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

{% set mainClasses = "app-main-wrapper" %}

{% block pageTitle %}
  {% if pageTitle %}
    {{ pageTitle }} | {{ serviceName }}
  {% else %}
    {{ serviceName }}
  {% endif %}
{% endblock %}

{% block headIcons %}
  {{ super() }}
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block bodyStart %}
  {% if not cookiesPolicy.confirmed %}
    {% include "./cookies/banner.njk" %}
  {% endif %}

  {% if cookiesPolicy.analytics %}
    {% include "./google-tag-manager/head-content.njk" %}
  {% endif %}

  {% if cookiesPolicy.analytics %}
    {% include "./google-tag-manager/body-content.njk" %}
  {% endif %}
{% endblock %}

{% block govukSkipLink %}
  {{ govukSkipLink({
    href: "#main-content",
    text: "Skip to main content"
  }) }}
{% endblock %}

{% block govukServiceNavigation %}
  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}
{% endblock %}

{% block headerEnd %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_1FcBVO6IMkfHmbs" target="_blank" rel="noreferrer noopener">give your feedback (opens in new tab)</a>.'
  }) }}
{% endblock %}

{% block content %}{% endblock %}

{% block govukFooter %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/privacy",
          text: "Privacy"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/accessibility",
          text: "Accessibility statement"
        }
      ],
      html: 'Built by the <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">
            Department for Environment, Food & Rural Affairs
          </a>'
    }
  }) }}
{% endblock govukFooter %}

{% block bodyEnd %}
  <script type="module" nonce="{{ nonce }}" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
