@use "govuk-frontend" as *;

.mpdp-text-colour-white {
  color: govuk-colour('white') !important;
}

.mpdp-border-colour-light-grey {
  border-color: govuk-colour('light-grey');
}

.mpdp-text-link-colour {
  color: govuk-colour('blue');
}

.mpdp-text-colour-dark-grey {
  color: govuk-colour('dark-grey');
}

.mpdp-hr-colour-blue {
  border-color: govuk-colour('blue')
}

.mpdp-bg-colour-light-grey {
  background-color: govuk-colour('light-grey');
}

.mpdp-text-colour-black {
  color: govuk-colour('black');
}
