@use "govuk-frontend" as *;

.mpdp-text-colour-white {
  color: govuk-colour('white') !important;
}

.mpdp-border-color-light-grey {
  border-color: govuk-colour('light-grey');
}

.mpdp-text-link-color {
  color: govuk-colour("blue");
}

.mpdp-text-color-dark-grey {
  color: govuk-colour('dark-grey');
}
