{% if googleTagManagerKey %}
  <script type="module">
    import googleTagManager from '{{ getAssetPath("scripts/google-tag-manager.js") }}';
    googleTagManager.init('{{ googleTagManagerKey }}');
  </script>
{% endif %}
