<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-7" id="more-actions">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">More actions</h2>
  <div class="govuk-body">
    You can:
    <ul class="govuk-!-padding-left-5">
      <li><a id="new-search-link" class="govuk-link" href="/search">start a new search</a></li>
      <li><a id="print-link" class="govuk-link" href="#">print this page</a></li>
    </ul>
  </div>
</div>
