<details class="govuk-details govuk-!-margin-top-negative-3">
  <summary class="govuk-details__summary" id="report-problem">
    <span class="govuk-details__summary-text">
      Report a problem
    </span>
  </summary>
  <div class="govuk-details__text">
    <b>Rural Payments Agency</b><br>
    Email: <a id="rpa-email" class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a><br>
    Telephone: 03000 200 301<br>
    Monday to Friday, 8.30am to 5pm<br>

    <br>
    <p>
      <b>Sustainable Farming Incentive</b><br>
      Fill in the <a id="sfi-query-form" class="govuk-link" href="https://www.gov.uk/government/publications/sustainable-farming-incentive-pilot-query-form">SFI pilot query form</a>
    </p>

    <p>
      <a id="call-charges" class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>
  </div>
</details>
