{% if googleAnalyticsTagManagerKey %}
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ googleAnalyticsTagManagerKey }}" class="gtm-iframe"></iframe>
  </noscript>
{% endif %}
