{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Check agricultural scheme payments to farmers and land managers in England"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prose-scope">
      <div class="govuk-body" data-testid="app-page-body">
      </div>
    </div>
  </div>

{% endblock %}
