{% from "govuk/components/select/macro.njk" import govukSelect %}

{% macro sortByDropdown(model) %}
  {{ govukSelect({
    id: "sort-by-selection",
    name: "sortBySelection",
    value: model.selected,
    label: {
			text: "Sort by",
			classes: "mpdp-label-inline"
    },
		classes: "mpdp-select-min-width",
    attributes: {
			"onchange": "const searchForm = document.getElementById('search-form'); searchForm.sortBy.value=this.value; searchForm.submit()"
    },
    items: model.items
  }) }}
{% endmacro %}
