{% extends "layouts.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/search/search-form.njk" import searchForm %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}{{ pageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    <a id="back-link" href="{{ referer }}" class="govuk-back-link">Back</a>
  </nav>
{% endblock %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary ({
      "titleText": "There is a problem",
      "errorList": errorList,
      "classes": "govuk-!-margin-bottom-7"
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {{ searchForm({
        inputClass: "govuk-input",
        id: "search-input",
        name: "searchString",
        inputmode: "string",
        buttonText: "Search",
        href: "/results",
        errorList: errorList,
        hiddenInputs: [{
          id: "page-id",
          name: "pageId",
          value: "index"
        },
        {
          id: "referer",
          name: "referer",
          value: referer
        }],
        labelHTML: "<p>You can search by name and location.</p>",
        hintHTML: "<span id='subtitle'>Example: Alex Smith or Gloucestershire or GL55</span>",
        inputAttributes: "aria-describedby='search-hint'"
      }) }}

      <p>You can <a id="download-all-scheme-payment-data-link" href="/all-scheme-payment-data/file">download all scheme payment data</a></p>
    </div>
    <div class="govuk-grid-column-one-third">
      {% include "related-content.njk" %}
    </div>
  </div>
{% endblock %}
