{% extends "layouts.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/search-form.njk" import searchForm %}

{% block pageTitle %} 
  {% if errorList %}Error: {% endif %} {{ pageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    <a id="back-link" href="{{ referer }}" class="govuk-back-link">Back</a>
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ pageTitle }}</h1>

      {{ searchForm({
        inputClass: 'govuk-input',
        id: 'search-input',
        name: 'search-string',
        inputmode: 'string',
        buttonText: 'Search',
        href: '#',
        hiddenInputs: [{
          id: 'page-dd',
          name: 'page-id',
          value: 'index'
        },
        {
          id: 'referer',
          name: 'referer',
          value: referer
        }],
        labelHTML: '<p>You can search by name and location.</p>',
        hintHTML: '<span class="subtitle" id="subtitle">Example: Alex Smith or Gloucestershire or GL55</span>',
        inputAttributes: "aria-describedby='search-hint'"
      }) }}
    </div> 
    <div class="govuk-grid-column-one-third">
      {% include "related-content.njk" %}
    </div> 
  </div>  
{% endblock %}
